body {
            margin: 0;
            font-family: 'Helvetica Neue', sans-serif;
            background-color: gray;
        }

        header {
            background-color: #222;
            color: #fff;
            padding: 0.75rem 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            letter-spacing: 0.05rem;
            text-transform: uppercase;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        header h1 {
            margin: 0;
            font-weight: 400;
        }
        main {
            display: grid;
            grid-template-columns: .1fr .1fr 1fr .1fr;
            margin-top: 20px;
        }
        hr {
            width: 100%;
            grid-column: 1 / 5;
        }
        h2 {
            grid-column: 2/3;
        }

        #blue {
            background: blue;
            grid-column: 1 / 2;
            display: grid;
            align-items: center;
            justify-items: center;
        }

        #white {
            background: white;
            grid-column: 2 / 4;
        }

        #red {
            background: red;
            grid-column: 1 / 4;
        }

        #chile {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: 200px;
            width: 300px;
        }

        .star {
            width: 70px;
            aspect-ratio: 1;
            background: white;
            clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
        }

        #denmark {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            height: 200px;
            width: 300px;
            background-color: #fff;
            
        }

        #dred1{
            background: red;
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            margin: bottom 20px;
        }
        #dred2{
            background: red;
            grid-column: 3 / 6;
            grid-row: 1 / 3;
            margin-left: 20px;
        }
        #dred3{
            background: red;
            grid-column: 1 / 3;
            grid-row: 3 / 6;
            margin-top: 20px;
        }
        #dred4{
            background: red;
            grid-column: 3 / 6;
            grid-row: 3 / 6;
            margin-left: 20px;
            margin-top: 20px;
        }

        #finland {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            height: 200px;
            width: 300px;
            background-color:blue;
        }

        #fwhite1{
            background: white;
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            margin: bottom 20px;
        }
        #fwhite2{
            background: white;
            grid-column: 3 / 6;
            grid-row: 1 / 3;
            margin-left: 20px;
        }
        #fwhite3{
            background: white;
            grid-column: 1 / 3;
            grid-row: 3 / 6;
            margin-top: 20px;
        }
        #fwhite4{
            background: white;
            grid-column: 3 / 6;
            grid-row: 3 / 6;
            margin-left: 20px;
            margin-top: 20px;
        }

        #benin {
            display: grid;
            grid-template: 1fr 1fr 1fr;
            height: 200px;
            width: 300px;
        }

        #bgreen {
            background: green;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }
        #byellow {
            background: yellow;
            grid-column: 2 / 4;
        }
        #bred {
            background: red;
            grid-column: 2 / 4;
            grid-row: 2 / 3;
        }
        #italy {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            height: 200px;
            width: 300px;
        }
        #igreen {
            background: green;
            grid-column: 1 / 2;
        }
        #iwhite {
            background: white;
            grid-column: 2 / 3;
        }
        #ired {
            background: red;
            grid-column: 3 / 4;
        }
        #car {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            height: 200px;
            width: 300px;

        }

        #cred{
            background: #ce1126;
            grid-column: 3 / 3;
            grid-row: 1 / 5;
            
        }

        #cblue {
            background: #0033a0;
            grid-column: 1 / 6;
            grid-row: 1 / 1;
        }
        #cwhite {
            background: #ffffff;
            grid-column: 4/6;
            grid-row: 2 / 2;
        }
        #cwhite1{
            background: #ffffff;
            grid-column: 1 / 3;
            grid-row: 2 / 2;
        }
        #cgreen {
            background: #009b3a;
            grid-column: 1 / 6;
            grid-row: 3 / 3;
        }
        #cyellow{
            background: #fedf00;
            grid-column: 1 / 6;
            grid-row: 4 / 4;
        }
        .cstar {
            width: 50px;
            aspect-ratio: 1;
            background: #ffdd00;
            clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
            grid-row: 1/1;
            grid-column: 1/1;
            
        }
        