



#content {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background-color: #fcfbfb;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}


header {
  background-color: #63bccf;
  color: white;
  display: grid;
  grid-template-columns: 150px auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
  text-align: center;
}

nav a {
  color: #fcfbfb;
  text-decoration: none;
  padding: 35px;
  display: inline-block;
}

nav a:hover {
  background-color: black;
  color: #d9c2a3;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}


#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px; 
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px; 
  color: white;
}

#hero-msg h4 {
  color: white;
}


#background {
  height: 725px;
  background-color: #d9c2a3;
}


.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
  padding: 40px 20px;
}


.card-img, .mountains {
  width: 100%;
  display: block;
}


.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}
.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}
.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
}
#background {
  grid-column: 1/11;
  grid-row: 4/9;
}
.mountains {
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
}
.msg {
  background-color: #6f7364;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
  color: white;
}


.card-img {
  border: 10px solid #d9c2a3;
  transition: transform .5s, opacity .5s;
  box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}


.book,
.join {
  background-color: #d9c2a3;
  color: #3a3a3a;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}
.book:hover,
.join:hover {
  background-color: #3a3a3a;
  color: #d9c2a3;
}


.logo {
  width: 80px;
  border: 2px solid #3a3a3a;
  border-radius: 6px;
}
.icon {
  width: 80px;
  padding-top: 10px;
  border: 2px solid #3a3a3a;
  border-radius: 6px;
}

#hero-img {
  width: 100%;
}

body img:not(#hero-img):not(.logo):not(.icon) {
  border: 3px solid #d9c2a3; 
  border-radius: 6px;
  display: inline-block;
}


footer {
  background-color: #3a3a3a;
  color: #d9c2a3;
  text-align: center;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: #d9c2a3;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

footer p {
  font-size: 1.2em;
}

footer .social img {
  padding-top: 15px;
  border: none !important;
  border-radius: 0 !important;
}

.book,
.join,
nav a,
footer a {
  text-decoration: none;
}


@media screen and (max-width: 900px) {
  #hero, .home-grid {
    display: block;
    height: auto;
  }
  nav, footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  #hero-msg h1 {
    color: #6f7364;
  }
  .home-title {
    font-size: 25px;
  }
  .rivers-card, .camping-card, .rapids-card { 
    margin: 50px auto;
    width: 60%;
  }
  #background {
    display: none;
  }
  .mountains, .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
}


@media (max-width: 700px) {
  nav a {
    display: block;
    margin: 5px 0;
  }

  #content {
    max-width: 100%;
    padding: 0 10px;
  }
}

